BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: true
BinPackParameters: false
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterClass: true
  AfterNamespace: true
  AfterControlStatement: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
