# All text files to LF
* text=auto eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cppm text eol=lf
*.cmake text eol=lf
*.txt text eol=lf
*.json text eol=lf

# Windows batch to CRLF
*.bat text eol=crlf