[main]
language = en
backgroundType = image
background = img/bg.png
windowSize = 1280x720
; launchVisible, launchExit, launchHideRestore
launcherMethod = launchVisible
resourceVersion = v1.0.0
deviceID = 38912750-4ede-40cf-8559-f2f746ab2093


[style]
blurEffect = Animation
blurRadius = 10
fontPointSize = 10
fontFamilies = 


[net]
thread = 0
proxy = true


[dev]
enable = true
debug = true
server = auto
tls = true
showLogViewer = false
; show log viewer when exiting the app if dev.enable is true


[other]
customTempDir = 
; days to keep .log files (0 to disable age-based cleanup)
logRetentionDays = 14
; maximum number of .log files to keep (0 to disable count-based cleanup)
maxLogFiles = 20
; crash flag (managed automatically)
lastRunUnclean = false
; save changes immediately when editing settings
immediateSave = false


[minecraft]
minecraftFolder = ./.minecraft
javaPath = 
downloadSource = Official
playerName = 
account = 
uuid = 
accessToken = 
targetVersion = 
maxMemoryLimit = 2048
minMemoryLimit = 1024
needMemoryLimit = 1024
authlibName = authlib-injector.jar
authlibPrefetched = 
authlibSha256 = 
tolerantMode = false
customResolution = 
joinServerAddress = 
joinServerPort = 25565
